POSTGRES_DB=nexoshop_db
POSTGRES_USER=nexoshop
POSTGRES_PASSWORD=replace_with_a_secure_local_password
POSTGRES_PORT=5432
DB_URL=jdbc:postgresql://localhost:5432/nexoshop_db
CORS_ALLOWED_ORIGINS=http://localhost:4200
